.new {
    overflow-x: hidden;
}

.wrapper {
    margin-left: 1rem;
}

.custom-padding {
    padding-left: 1.25rem !important;
}

/* .wraper {
    margin-left: 2%;
} */

element{
    gap: 27px;
    margin: -26px;

    padding-right: 0.5rem !important;
    padding-left: 7.5rem !important;
}